.checks {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  max-width: 236px;
  h2 {
    font-family: 'Mulish M';
    font-style: normal;
    font-size: 20px;
    margin: 0;
    color: #000;
  }
  .formControl {
    display: flex;
    flex-direction: column;
    .checked {
      padding: 5px 0;
      .label {
        cursor: pointer;
        font-family: 'Helvetica Neue';
        color: #71717a;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        display: flex;
        align-items: center;
        .inputCheck {
          width: 0.9rem;
          height: 0.9rem;
          margin-right: 0.625rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .checks {
    h2 {
      font-size: 16px;
    }
    .formControl {
      .checked {
        .label {
          font-size: 10px;
          .inputCheck {
            width: 0.8rem;
            height: 0.8rem;
          }
        }
      }
    }
  }
}
