.headerNovalandMax {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  // padding-bottom: 20px;
  background-image: linear-gradient(
    to bottom,
    var(--primary-color-),
    transparent
  );
  transition: all 0.25s ease-in-out;
  .headerNovaland {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    // padding: 20px 0;
    transition: all 0.25s ease-in-out;
    height: 80px;
    .logoImage {
      width: 200px;
      img {
        width: 100%;
        cursor: pointer;
      }
    }
    .headerContent {
      position: relative;
      z-index: 10;

      background-color: transparent;
      right: 24px;
      z-index: 1000;
    }
    .barIcon {
      background-color: var(--hover-color-);
      padding: 2px;
      margin-right: 12px;
      position: absolute;
      visibility: hidden;
      right: 24px;
      z-index: 300;
      color: #fff;
      transition: all 0.25s ease-in-out;
    }
    .barIcon.hidden {
      visibility: hidden;
    }
  }
}
.headerNovalandMax.barsSmall {
  background-image: linear-gradient(
    to bottom,
    var(--primary-color-),
    rgba(0, 85, 138, 0.6)
  );
  padding-bottom: 2px;

  .headerNovaland {
    padding-top: 2px;
  }
}

@media (max-width: 960px) {
  .headerNovalandMax {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    z-index: 1000;
    display: flex;
    .headerNovaland {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      height: 60px;
      margin: auto;
      .logoImage {
        width: 120px;
        img {
          width: 100%;
          cursor: pointer;
        }
      }
      .headerContent {
        position: fixed;
        z-index: 100000;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 50px;
        width: 400px;
        box-shadow: 1px 8px 29px -9px rgb(0 0 0 / 40%);
        z-index: 10;
        transition: all 0.3s ease-in-out;
        transform: scaleY(0);
        transform-origin: top;
        background-color: rgb(255 255 255 / 90%);
        height: 'auto';
      }
      .headerContent.showBars {
        transform: scaleY(1);
      }
      .barIcon {
        width: 30px;
        height: 30px;
        visibility: visible;
        right: 2px;
      }
    }
  }

  .headerNovalandMax.barsSmall {
    background-image: linear-gradient(
      to bottom,
      var(--primary-color-),
      rgba(0, 85, 138, 0.6)
    );
    .headerNovaland {
      padding-top: 2px;
    }
  }
}

@media (max-width: 600px) {
  .headerNovalandMax {
    padding: 0;
    z-index: 1000;

    .headerNovaland {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      height: 50px;
      .logoImage {
        width: 100px;
        img {
          left: -16px;
        }
      }
      .headerContent {
        width: 100%;
        top: 45px;
        
      }

      .barIcon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
