.headerNovalandMax {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding-bottom: 20px;
  background-image: linear-gradient(
    to bottom,
    var(--primary-color-),
    transparent
  );
  transition: all 0.25s ease-in-out;
  .headerNovaland {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-top: 20px;
    transition: all 0.25s ease-in-out;

    .logoImage {
      width: 200px;
      img {
        width: 100%;
        cursor: pointer;
      }
    }
    .headerContent {
      position: relative;
      z-index: 10;
      background-color: transparent;
      right: 24px;
      z-index: 1000;
      .closeIcon {
        // visibility: hidden;
        background-color: var(--hover-color-);
        width: 30px;
        height: 30px;
        display: none;
      }
    }
    .barIcon {
      background-color: var(--hover-color-);
      padding: 2px;
      margin-right: 12px;
      position: absolute;
      visibility: hidden;
      right: 24px;
      z-index: 300;
      color: #fff;
      transition: all 0.25s ease-in-out;
    }
    .barIcon.hidden {
      visibility: hidden;
    }
  }
}
.headerNovalandMax.barsSmall {
  background-image: linear-gradient(
    to bottom,
    var(--primary-color-),
    rgba(0, 85, 138, 0.6)
  );
  padding-bottom: 2px;

  .headerNovaland {
    padding-top: 2px;
  }
}

@media (max-width: 960px) {
  .headerNovalandMax {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    transform: translateX(0);
    z-index: 10000;
    .searchBlock {
      top: 20px;
      right: 130px;
    }
    .headerNovaland {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      .logoImage {
        width: 120px;
        img {
          width: 100%;
          cursor: pointer;
        }
      }
      .headerContent {
        position: fixed;
        z-index: 100000;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        width: 400px;
        box-shadow: 5px 4px 10px 6px #888888;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        transform: translateX(110%);
        background-color: var(--primary-color-);
        height: 100vh;
        .closeIcon {
          display: block;
          visibility: visible;
          border-radius: 0;
          font-size: 18px;
          font-weight: 700;
          border: none;
          color: #fff;
        }
      }
      .headerContent.showBars {
        transform: translateX(0);
      }
      .barIcon {
        width: 30px;
        height: 30px;
        visibility: visible;
        right: 2px;
      }
    }
  }

  .headerNovalandMax.barsSmall {
    background-image: linear-gradient(
      to bottom,
      var(--primary-color-),
      rgba(0, 85, 138, 0.6)
    );
    padding-bottom: 10px;

    .headerNovaland {
      padding-top: 2px;
    }
  }
}

@media (max-width: 600px) {
  .headerNovalandMax {
    padding: 15px 0;
    z-index: 1000;

    .headerNovaland {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .logoImage {
        width: 100px;
        img {
          left: -16px;
        }
      }
      .headerContent {
        width: 100%;
        .closeIcon {
        }
        .numberPhone {
        }
      }

      .barIcon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
