.headerNovalandMax {
    max-width: 1440px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000000;
    background-color: #fff;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    .wrapper {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100vh;
        display: none;
        transition: all 0.3s ease-in-out;
    }
    .wrapper.active {
        display: flex
    }
    .headerNovaland {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
    
        .logoImage {
            width: 200px;
            img {
                width: 100%;
                cursor: pointer;
            }
        }
        .headerContent {
            position: relative;
            z-index: 10;
            background-color: #fff;
            right: 24px;
            z-index: 1000000;
            .closeIcon {
                visibility: hidden;
                background-color:var(--hover-color-);
                width: 30px;
                height: 30px;
            }
            .numberPhone {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: absolute;
                right: 0;
                cursor: pointer;
                margin-right: 10px;
                h3{
                    margin-top: 6px;
                    margin-bottom: 6px;
                    color: var(--hover-color-);
                    font-family: Minion Pro;
                    line-height: 20px;
                    margin-left: 6px;
                    padding: 0;

                }
                h4{
                    margin-top: 6px;
                    margin-bottom: 6px;
                    color: rgb(93, 107, 142);
                    font-family: 'Minion Pro';
                    font-size: 20px;
                    line-height: 20px;
                    padding: 0;

                
                }
            }
        }
        .barIcon {
            background-color: var(--hover-color-);
            padding: 2px;
            margin-right: 12px;
            position: absolute;
            visibility: hidden;
            right: 24px;
            z-index: 300;
            color: #fff;
            transition: all 0.25s ease-in-out;
        
        }
        .barIcon.hidden {
            visibility: hidden;
        }

    }
}


@media (max-width: 960px) {

    .headerNovalandMax {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px 0 ;
        transform: translateX(0);
        z-index: 10000;
        background-color: #fff;
        .searchBlock {
            top: 20px;
            right: 130px;
        }
        .headerNovaland {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
        
            .logoImage {
                width: 120px;
                img {
                    width: 100%;
                    cursor: pointer;
                }
            }
            .headerContent {
                position: fixed;
                z-index: 100000;
                display: flex;
                flex-direction: column;
                right: 0;
                top: 0;
                width: 400px;
                box-shadow: 5px 4px 10px 6px #888888;
                z-index: 10;
                transition: all 0.3s ease-in-out;
                transform: translateX(110%);
                height: 100vh;
                .closeIcon {
                    display: block;
                    visibility: visible;
                    border-radius: 0;
                    font-size: 18px;
                    font-weight: 700;
                    border: none;
                    color: #fff;
                }
                .numberPhone {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    margin-right: 10px;
                    h3{
                        margin-top: 6px;
                        margin-bottom: 6px;
                        color: var(--hover-color-);
                    }
                    h4{
                        margin-top: 6px;
                        margin-bottom: 6px;
                        color: var(--primary-color-)
                    
                    
                    }
                }
            }
            .headerContent.showBars {
                transform: translateX(0);
            }
            .barIcon {
                width: 30px;
                height: 30px;
                visibility: visible;
                right: 2px;
            }
        }
    }
    
    
}

@media (max-width: 600px) {
    .headerNovalandMax {
        padding: 15px 0 ;
        z-index: 10000000;
        .wrapper {
            width: 100%;
        }
        .searchBlock {
            top: 20px;
            right: 130px;
        }
        .headerNovaland {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
        
            .logoImage {
                width: 100px;
                img {
                    left: -16px;
                }
            }
            .headerContent {
                width: 100%;
                .closeIcon {
                }
                .numberPhone {
                    
                }
            }
            
            .barIcon {
                width: 25px;
                height: 25px;
            }
        }
    }

    
}

