.SearchPrice {
  padding: 1rem 0;
  h2 {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
    color: #000;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .input {
    margin: 1.25rem 0 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  .msgError {
    display: none;
  }
  .msgError.active {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 0;
    text-align: center;
    color: #ff424f;
    font-size: 0.75rem;
  }
  Button {
    width: 100%;
    background-color: #108775;
    color: #fff;
    &:hover {
      background-color: #108775;
    }
  }
}
