.image {
  width: 100%;
  height: 400px;
  position: relative;
  background-size: contain;
}
@media screen and(max-width: 1280px) {
  .image {
    height: 250px;
    width: 100%;
  }
}
@media screen and(max-width: 960px) {
  .image {
    height: 200px;
    width: 100%;
  }
}
@media screen and(max-width:768px) {
  .image {
    height: 0px;
  }
}

@media screen and(max-width: 600px) {
  .image {
    height: 0;
  }
}
