$OpensSans: 'Opens sans', sans-serif;
.cover {
  height: 55vw;
  position: relative;
  .image {
    width: 100%;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    .container {
      height: 100%;
      background: rgba(0, 85, 138, 0.5);
      position: relative;
      .content {
        position: relative;
        padding: 0 5vw;
        p,
        span {
          color: white;
          font-family: $OpensSans;
          font-size: 1.1rem;
        }
        h4 {
          color: white;
          font-family: $OpensSans;
          font-weight: 600;
        }
      }
      .detail {
        padding: 0 5vw;
        display: grid;
        grid-template-columns: 47% 47%;
        grid-gap: 6%;
        .item {
          padding: 20px 0;
          h3 {
            color: white;
            font-family: 'Opens sans', sans-serif;
            font-weight: 600;
          }
          p {
            color: white;
            font-size: 1.1rem;
          }
          .divider {
            background: var(--hover-color-);
            height: 2px;
          }
        }
        .left {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
        .right {
        }
      }
    }
  }
}
// @media screen and(max-width: 2600px) {
//   .cover {
//     .image {
//       // height: 110vh;
//       // background-size: cover;
//       // background-position: top left;
//     }
//   }
// }
// @media screen and(max-width: 1900px) {
//   .cover {
//     .image {
//       // height: 100vh;
//     }
//   }
// }

@media screen and(max-width: 1280px) {
  .cover {
    .image {
      .container {
        padding: 2% 0;
        .content {
          p,
          span {
            font-size: 1rem;
          }
          h4 {
            font-size: 1.8rem;
          }
        }
        .detail {
          .item {
            h3 {
              font-size: 1.5rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 960px) {
  .cover {
    .image {
      .container {
        padding: 2% 0;
        .content {
          p,
          span {
            font-size: 0.8rem;
          }
          h4 {
            font-size: 1.2rem;
          }
        }
        .detail {
          .item {
            h3 {
              font-size: 1.2rem;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 768px) {
  .cover {
    .image {
      .container {
        padding: 2% 0;
        .content {
          p,
          span {
            font-size: 0.7rem;
          }
          h4 {
            font-size: 1.1rem;
          }
        }
        .detail {
          .item {
            h3 {
              font-size: 1.1rem;
            }
            p {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 600px) {
  .cover {
    height: 50vh;
    .image {
      .container {
        padding: 2% 0;
        .content {
          p,
          span {
            font-size: 0.55em;
          }
          h4 {
            font-size: 0.7rem;
          }
        }
        .detail {
          .item {
            h3 {
              font-size: 0.8rem;
            }
            p {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width:300px) {
  .cover {
    height: 50vh;
    .image {
      background-position: top;
      .container {
        padding-bottom: 20px;
        .content {
          p,
          span {
            font-size: 0.5rem;
          }
          h4 {
            font-size: 0.65rem;
          }
        }
        .detail {
          // grid-template-columns: 100%;
          .item {
            padding: 3% 0;
            h3 {
              font-size: 0.65rem;
            }
            p {
              font-size: 0.5rem;
            }
            .divider {
              width: 45%;
            }
          }
        }
      }
    }
  }
}
