.carts {
  max-width: 1200px;
  margin: 0 auto;
  .breadcrumb_shop {
    font-size: 13px;
    padding: 9px 0;
    background: transparent;
    border-radius: 0;
    a {
      color: #000;
    }
  }
  .GridCart {
    min-height: 80vh;
    .GridList {
      padding: 0 20px;
      h3 {
        font-size: 20px;
        margin: 0;
        border-bottom: 1px solid #e7e7e7;
        padding: 10px 15px;
        font-weight: 700;
        line-height: 1.2;
        color: var(--primary-color-);
      }
      .listCart {
        padding: 15px;
        .title_cart {
          font-weight: 400;
          font-size: 16px;
          margin: 0 0 15px;
        }
        .boderCarts {
          background: #ffffff;
          border: 2px solid #e7e7e7;
          border-radius: 8px;
          padding: 8px 10px;
          overflow: hidden;
          .product + .product {
            border-top: 1px solid #f1f1f1;
          }
          .product {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px 10px;
            .media_image {
              flex: 0 0 80px;
              max-width: 80px;
              padding: 0;
              position: relative;
              display: block;
              .item_image {
                border: 1px solid #ededed;
              }
              .item_Remove {
                cursor: pointer;
                top: -10px;
                left: -10px;
                position: absolute;
                display: block;
                background: #8f9bb3;
                color: #fff;
                font-size: 8px;
                font-weight: 400;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                border-radius: 50%;
              }
            }
            .media_desc {
              flex: 1 1 auto;
              padding-left: 18px;
              padding-right: 18px;
              .item_info {
                font-size: 15px;
                margin: 0px 0 2px;
                font-weight: 500;
                white-space: initial;
                overflow: hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
              }
              .Characteristics {
                font-size: 12px;
                color: #777;
                font-weight: 500;
                margin-bottom: 10px;
              }
            }
            .media_totla {
              text-align: right;
              .item_quatity {
                display: flex;
                align-items: center;
                justify-content: center;
                .amount {
                  text-align: center;
                  height: 28px;
                  width: 36px;
                  border: 1px solid #f3f4f4;
                  margin: 0 3px;
                  border-radius: 4px;
                }
                button {
                  cursor: pointer;
                  font-weight: 500;
                  font-size: 18px;
                  padding: 0;
                  height: 28px;
                  width: 28px;
                  text-align: center;
                  background: #ffffff;
                  border: 1px solid #f3f4f4;
                  border-radius: 4px;
                  outline: none;
                  appearance: none;
                }
              }
            }
          }
        }
        .note {
          margin: 20px 0 10px;
          background: rgba(255, 86, 130, 0.03);
          padding: 10px 12px 15px;
          .title_label {
            display: block;
            margin: 0px 0 10px;
            font-weight: 600;
            font-size: 14px;
          }
          .formControl {
            padding: 10px 15px;
            width: 100% !important;
            height: 80px;
            min-height: 80px;
            max-width: 100%;
            border-radius: 5px;
            resize: auto;
            border: 1px solid var(--primary-color-);
            box-shadow: none;
            outline: none;
          }
        }
      }
    }
    .GridPay {
      padding: 0 20px;
      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 15px;
        color: var(--primary-color-);
        margin: 0 0 13px 0;
        font-weight: 700;
        line-height: 1.2;
      }
      .total {
        font-size: 16px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: bold;
        border-top: 1px dotted #dfe0e1;
        border-bottom: 1px dotted #dfe0e1;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .total_price {
          font-weight: bold;
          float: right;
          color: var(--primary-color-);
          font-size: 24px;
        }
      }
      .information {
        padding-top: 5px;
        li {
          font-size: 14px;
          font-weight: 400;
          text-align: left;
        }
      }
      .pay {
        width: 100%;
        background-color: var(--primary-color-);
        color: #ffffff;
        height: 50px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .carts {
    .breadcrumb_shop {
      margin-top: 180px;
      margin-bottom: 20px;
    }
    .GridCart {
      .GridList {
        padding: 0;
        .listCart {
          padding: 10px;
          .boderCarts {
            .product {
              .media_image {
                flex: 0 0 60px;
                max-width: 60px;
              }
              .media_desc {
                font-size: 15px;
                flex: 1 1 auto;
                padding-left: 8px;
                padding-right: 8px;
                .Characteristics {
                  margin-bottom: 7px;
                }
              }
              .media_totla {
                font-size: 15px;
              }
            }
          }
        }
        .note {
          .formControl {
            padding: 10px;
          }
        }
        .invoice {
        }
      }
      .GridPay {
        padding: 0 15px;
        .pay {
          position: fixed;
          width: 100%;
          background-color: var(--primary-color-);
          color: #ffffff;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 9;
          padding: 5px 10px 8px;
          -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
          -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        }
      }
    }
  }
}
