.Main {
  .NavIntroduce {
    max-width: 1440px;
    z-index: 999;
    position: fixed;
    top: 113px;
    width: 100%;
    height: 46px;
    background: var(--primary-color-);;
    .ModuleContent {
      max-width: 1060px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-items: center;
      .container {
        margin: 0 auto;
        ul {
          list-style: none;
          .items{
            border-bottom:2px solid var(--hover-color-) ;
          }
          li{
            cursor: pointer;
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
            padding: 11px 0;
            &:hover{
              border-bottom:2px solid var(--hover-color-) ;

            }
          }
         
        }
      }
    }
  }
  .test {
    display: none;
  }
  .mobile {
    display: none;
  }
  @media screen and (max-width: 1200px) {
    .NavIntroduce {
      display: none;
    }
    .test {
     
      display: block;
      right: 0;
      max-width: 1140px;
      margin: 0 auto;
      background: black;
      .btnWrapper {
        z-index: 99;
        display: block;
        position: fixed;
        color: #fff;
        margin-top: 22px;
        border: none;
        top: 110px;
        right: 10px;
        .btnNav {
          cursor: pointer;
          top: 0px;
          background: var(--primary-color-);;
          color: #fff;
          width: 126px;
          height: 40px;
          font-size: 15px;
          display: flex;
          padding: 10px;
          svg {
            margin-left: 10px;
            font-size: 1.4em;
          }
        }
      }
    }
    .mobile {
      display: block;
      position: fixed;
      z-index: 100;
      top: 137px;
      right: -1000px;
      width: 50%;
      transition: all 0.5s ease-in-out;
      background:var(--primary-color-);;
      box-shadow: 0 0 10px rgb(0 0 0 / 66%);
      .Navmobile {
        margin-top: 45px;
        .iconClose {
          position: absolute;
          top: -45px;
          right: 0;
          width: 50px;
          height: 45px;
          font-size: 1.4em;
          background: #fff;
          width: auto;
          padding: 0 10px;
          font-weight: bolder;
          svg {
            font-weight: 700;
            font-size: 38px;
          }
        }
        ul {
          cursor: pointer;
          margin: 0;
          list-style: none;
          padding:10px;
          .items{
            background: #fff;
            color: var(--primary-color-);
          }
          li {
            font-size: 16px;
            display: block;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 20px;
            
          }
        }
      }
    }
  }
  @media screen and (max-width: 960px) {
    .test {
      .btnWrapper {
        z-index: 99;
        display: block;
        position: fixed;
        color: white;
        margin-top: 22px;
        border: none;
        top: 65px;
        right: 10px;
        .btnNav {
       
        }
      }
    }
    .mobile {
      top: 94px;
      width: 50%;
      
    }
  }
  @media screen and (max-width: 600px) {
   
    .test {
    
      .btnWrapper {
        z-index: 99;
        display: block;
        position: fixed;
        color: white;
        margin-top: 22px;
        border: none;
        top: 50px;
        right: 10px;
        .btnNav {
       
        }
      }
    }
    .mobile {
      top: 75px;
      width: 100%;
      height: 100%  ;
      
    }
  }
  }
