.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  .menu {
    width: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      width: 25px;
      height: 25px;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    max-width: 35%;
    img {
      cursor: pointer;
    }
  }
  .wrap {
    padding: 0 15px;
    display: flex;
    margin-left: 25px;
    .cart,
    .account {
      display: inline-block;
      margin-left: 7px;
      display: flex;
      align-items: center;
      transition: opacity 150ms linear;
      margin-left: 25px;
      .beforeCart {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .quatityCart {
          background-color: white;
          color: var(--primary-color-);
          position: absolute;
          top: -5px;
          right: 7px;
          border: 0.125rem solid var(--primary-color-);
          height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          .bigcart {
            padding: 5px;
            font-size: 10px;
          }
        }
        .quatityCart.active {
          right: 0px;
        }
        svg {
          width: 25px;
          height: 25px;
        }
      }
      .taskbarCart {
        display: none;
      }
    }
    .account::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 55%;
      margin-right: 25px;
      background: rgba(255, 255, 255, 0.1);
    }
    .cart::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 55%;
      margin-right: 25px;
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
@media screen and (max-width: 900px) {
  .nav {
    padding: 0 5px;
    .wrap {
      margin: 0;
      .cart,
      .account {
        margin: 0;
        .beforeCart {
          margin: 0;
          .quatityCart {
            top: -5px;
            right: -10px;
          }
          .quatityCart.active {
            right: -14px;
          }
          .nameAccount,
          .nameCart {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .nav {
    flex-wrap: wrap;
    .menu {
      width: 37px;
      position: initial;
      padding: 0;
      height: 100%;
    }
    .showNav {
      width: 100%;
    }
    .showNav.active {
      width: 100%;
      svg {
        left: 19px;
      }
    }
    .logo {
      padding: 10px 0;
      flex: 1 1 auto;
      width: 1%;
      text-align: left;
      max-width: 100%;
    }

    .wrap {
      padding: 0;
      display: flex;
      margin-left: 0;
      .cart,
      .account {
        display: inline-block;
        margin-left: 7px;
        display: flex;
        align-items: center;
        transition: opacity 150ms linear;
        margin-left: 0;
        position: relative;
        .beforeCart {
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .quatityCart {
            top: 5px;
            right: 0px;
          }
          .quatityCart.active {
            top: 5px;
            right: -6px;
          }
          .nameAccount,
          .nameCart {
            display: none;
          }
          svg {
            width: 25px;
            height: 25px;
          }
        }
        .taskbarCart {
          visibility: hidden;
        }
        .taskbarCart.active {
          visibility: visible;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          transform: translateY(0);
          background-color: var(--primary-color-);
          padding: 0 8px;
          cursor: pointer;
          border-bottom: 1px solid #dee2e6;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 44px;
        }
      }
      .account::before {
        display: none;
      }
      .cart::before {
        display: none;
      }
    }
  }
}
