.showCart {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  top: 68px;
  transform: scale(0);
  transform-origin: 90% top;
  transition: all 0.3s ease-in-out;
  height: auto;
  .dropUp {
    display: none;
  }
  .cart {
    .taskName {
      background: #ffffff;
      text-align: center;
      padding: 20px 20px 0px 20px;
      .name {
        display: block;
        padding: 0 0 10px;
        border-bottom: 1px solid #e7e7e7;
      }
      .totalProduct {
        display: none;
      }
      .totalPrice {
        display: none;
      }
      .close {
        display: none;
      }
    }
    ::-webkit-scrollbar {
      width: 4px;
    }
    .viewMobile {
      padding: 20px 20px;
      overflow-y: scroll;
      max-height: 55vh;
      overflow-x: hidden;

      .viewCart {
        display: flex;
        padding-top: 12px;
        padding-bottom: 12px;
        position: relative;
        border-bottom: 1px solid #e7e7e7;
        .image {
          border: 1px solid #e7e7e7;
          flex: 0 0 85px;
          max-width: 85px;
          text-align: center;
          width: 85px;
          height: 85px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .desc {
          flex: 0 0 calc(100% - 85px);
          max-width: calc(100% - 85px);
          padding-left: 15px;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          overflow: hidden;
          .nameProduct {
            display: block;
            font-size: 12px;
            font-weight: 600;
            padding-right: 35px;
            text-transform: uppercase;
            color: #000;
          }
          .quantity {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            .quantity_selector {
              white-space: nowrap;
              margin-right: 15px;
              .amount {
                display: inline-block;
                vertical-align: middle;
                font-weight: 500;
                font-size: 15px;
                outline: none;
                border: 0;
                width: 30px;
                text-align: center;
                color: #000000;
                line-height: 24px;
                height: 24px;
              }
              .plus_or_minus {
                background: rgba(255, 86, 130, 0.04);
                border: 1px solid rgba(255, 86, 130, 0.06);
                color: #000;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                outline: none;
                box-shadow: none;
                display: inline-block;
                vertical-align: middle;
              }
            }
            .price {
              display: block;
              font-weight: 600;
              font-size: 14px;
              color: #000;
            }
          }
          .remove {
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--primary-color-);
            color: #fff;
            width: 20px;
            height: 20px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
      .empty {
        border-bottom: 1px solid #e7e7e7;
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .icon {
          width: 50px;
          height: 50px;
          margin-bottom: 5px;
          svg {
            color: var(--primary-color-);
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .totalPrice {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      .total {
        font-weight: 600;
        font-size: 16px;
        color: var(--primary-color-);
      }
    }
    .viewsAll {
      padding: 20px;
      margin-bottom: 10px;
      Button {
        width: 100%;
        background-color: var(--primary-color-);
        border: 1px solid var(--primary-color-);
        transition: all 0.3s ease-in-out;
        span {
          color: #fff;
          font-weight: 500;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 100%;
          background: #fff;
          transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          z-index: -1;
        }
        &:hover {
          span {
            color: var(--primary-color-);
            z-index: 3;
          }
          &::after {
            width: 100%;
            left: 0;
            z-index: 1;
          }
        }
      }
    }
  }
}
.showCart.active {
  background-color: #ffffff;
  color: #000;
  width: 420px;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  top: 68px;
  right: 0px;
  position: absolute;
  border-radius: 0.125rem;
  z-index: 100;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 50%);
  height: auto;
  .dropUp {
    display: block;
    position: absolute;
    top: -18px;
    right: 30px;
    svg {
      height: 30px;
      width: 30px;
      color: #fff;
    }
  }
}
@media screen and (max-width: 900px) {
  .showCart.active {
    .dropUp {
      right: 16px;
    }
  }
}
@media screen and (max-width: 600px) {
  .showCart {
    top: unset;
    position: fixed;
    width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
    top: 0;
    bottom: 0;
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 18px;
    left: 0;
    .cart {
      .taskName {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-color-);
        color: #fff;
        height: 44px;
        border-bottom: 1px solid #e7e7e7;
        padding: 10px;
        .name {
          display: none;
        }
        .totalProduct {
          display: block;
        }
        .totalPrice {
          display: block;
        }
        .close {
          cursor: pointer;
          display: block;
        }
      }
      .viewMobile {
        max-height: unset;
      }
      .totalPrice {
        padding: 5px 15px;
      }
      .viewsAll {
        padding: 5px 15px;
      }
    }
  }
  .showCart.active {
    position: fixed;
    transition: all 0.5s ease-out;
    transform: translateX(0%);
    width: 100%;
    background-color: #fff;
    top: 0;
    bottom: 0;
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 18px;
    border-radius: 16px 16px 0 0;
    .dropUp {
      display: none;
    }
  }
}
