.root {
  margin-bottom: 50px;
  min-height: 600px;
  .title {
    display: flex;
    justify-content: center;
    h6 {
      position: relative;
      font-family: 'Mulish Bold';
      color: var(--primary-color-);
      &::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 50%;
        background-color: var(--primary-color-);
        transform: translate(50%, 100%);
        bottom: -10px;
        left: 0;
      }
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .form {
      width: 560px;
      display: flex;
      flex-direction: column;
      .input {
        margin-bottom: 20px;
        background-color: #ededed;
      }
      p {
        font-family: 'Mulish';
        font-size: 12px;
        margin-bottom: 20px;
      }
      h6 {
        font-family: 'Mulish M';
        font-size: 18px;
        color: var(--primary-color-);
        margin-bottom: 10px;
      }
      .request {
        display: flex;
        justify-content: center;
        .btn {
          background-color: var(--primary-color-);
          color: #fff;
          padding: 10px;
          width: 30%;
          margin-right: 20px;
          z-index: 0;
          border: 1px solid var(--primary-color-);

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 100%;
            background: #fff;
            transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            z-index: -1;
            border-radius: 5px;
          }
          &:hover {
            color: var(--primary-color-);
            &::after {
              width: 100%;
              left: 0;
            }
          }
        }
        .reqAnother {
          font-size: 12px;

          button,
          a {
            text-transform: none;
            font-size: 14px;
            font-family: 'Mulish M';
            color: var(--primary-color-);
          }
          button {
            padding: 0;
          }
        }
      }
    }
  }
}
