.projects {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  height: 100%;
  .newsTitle {
    display: flex;
    flex-direction: column;

    h1 {
      margin: auto;
      color: var(--primary-color-);
      font-size: 45px;
      font-family: Open Sans;
      font-weight: 600 !important;
    }
    .newsLine {
      width: 100px;
      height: 4px;
      background-color: var(--hover-color-);
      margin: 12px auto;
    }
  }
  .wrapper {
    position: relative;
    height: 30vw;
    width: 80%;
    left: 10%;
    .projectItem {
      width: 100%;
      position: absolute;
      left: 0;
      height: 100%;
      transition: all 0.8s ease-in-out;

      .listGrid {
        height: 100%;

        .item {
          width: 100%;
          padding: 1px;
          height: 50%;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          display: flex;
          img {
            height: 100%;
            transform: scaleX(1.5);
            transform-origin: left;
            margin: 1px;
            margin: auto;
          }
          span {
            position: absolute;
            bottom: 0;
            background-color: var(--primary-color-);
            width: 100%;
            font-size: 20px;
            color: #fff;
            padding: 10px;
            font-family: Open Sans;
          }
          &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
            transition: all 0.25s ease-in-out;
            z-index: 33333;
          }
          &:hover {
            &::before {
              background-color: transparent;
            }
            span {
              color: var(--hover-color-);
            }
          }
        }
      }
    }

    .projectItem.none {
      opacity: 0;
    }

    .projectItem.onePosition {
      transform: translateX(-200%);
      opacity: 0;
    }
    .projectItem.twoPosition {
      transform: translateX(-100%);
      opacity: 1;
    }
    .projectItem.threePosition {
      transform: translateX(0);
      opacity: 1;
      z-index: 1000;
    }
    .projectItem.fourPosition {
      transform: translateX(100%);
      opacity: 1;
    }
    .projectItem.fivePosition {
      transform: translateX(200%);
      opacity: 0;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      z-index: 1;
      transform: translateX(-100%);
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      transform: translateX(100%);
      z-index: 100;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
    }
    .controls {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1000;

      .prev {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        transform: translateX(-10px);
        display: flex;
        background-color: var(--hover-color-);
        z-index: 102;
        cursor: pointer;
        opacity: 0.8;

        .prevIcon {
          margin: auto;
          color: #fff;
        }
        &:hover {
          opacity: 1;
        }
      }
      .next {
        width: 50px;
        height: 50px;
        display: flex;
        display: flex;
        transform: translateX(10px);
        z-index: 102;
        opacity: 0.8;
        cursor: pointer;

        border-radius: 10px;
        background-color: var(--hover-color-);
        .nextIcon {
          margin: auto;
          color: #fff;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .projects {
    .newsTitle {
      h1 {
        font-size: 30px;
      }
    }
    .wrapper {
      height: 35vw;
      .projectItem {
        .listGrid {
          .item {
            height: 50%;
            img {
            }
            span {
              font-size: 12px;
              padding: 6px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .projects {
    .wrapper {
      height: 70vw;
      .projectItem {
        .listGrid {
          .item {
            height: 33.3334%;
            img {
            }
            span {
              font-size: 10px;
              padding: 6px;
            }
          }
        }
      }
      .controls {
        display: none;
      }
    }
  }
}
