$OpensSan: 'Opens sans', sans-serif;
.layout {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 50px;
  .container {
    margin: 20px 0;
    .caption {
      text-transform: uppercase;
      color: var(--primary-color-);
      font-size: 1.3rem;
      font-weight: 600;
      font-family: 'Opens sans', sans-serif;
      position: relative;
      margin-bottom: 20px;
      width: fit-content;
      transition: all 0.5s ease;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: var(--hover-color-);
      }
      &:hover {
        color: var(--hover-color-);
      }
    }
    .categories {
      display: flex;
      justify-content: center;
      background: #eeeeee;
      width: 100%;
      .buttonType {
        padding: 10px 20px;
        border-radius: 0;
        transition: all 0.5s ease;
        width: 300px;
        h6 {
          font-family: $OpensSan;
          font-weight: bold;
          font-size: 1rem;
          color: #666666;
          transition: inherit;
          cursor: pointer;
        }
        &:hover {
          background: var(--primary-color-);
          h6 {
            color: white;
          }
        }
      }
      .buttonType.active {
        background: var(--primary-color-);
        h6 {
          color: white;
        }
      }
    }

    .projectList {
      padding: 20px 0;
      display: grid;
      grid-template-columns: 23% 23% 23% 23%;
      grid-gap: 2.7%;
    }
    .pagination {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and(max-width: 1280px) {
  .layout {
    margin-top: 20px;
    .container {
      .categories {
        width: 100%;
      }
      .projectList {
        grid-template-columns: 32% 32% 32%;
        grid-gap: 2%;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .layout {
    margin-top: 20px;
    .container {
      .formControl {
        display: block;
      }
      .categories {
        display: none;
      }
      .projectList {
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
      }
    }
  }
}

@media screen and(max-width: 600px) {
  .layout {
    margin-top: 70px;
    .container {
      .projectList {
        grid-template-columns: auto;
        grid-gap: 0px;
      }
    }
  }
}
