.container {
  color: red;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: black;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    position: relative;
    background-color: #0e0e0e;
    height: 30vw;
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    iframe {
      height: 28vw;
      width: 53vw;
    }
    .closeBtn {
      position: absolute;
      right: 0;
      top: 12px;
      transform: translateX(100%);
      color: var(--hover-color-);
      font-size: 50px;
    }
  }
}
@media screen and (max-width: 1280px) {
  .container {
    .content {
      height: 30vw;
      width: 60vw;
      iframe {
        height: 30vw;
        width: 60vw;
      }
      .closeBtn {
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .container {
    .content {
      height: 35vw;
      width: 90vw;
      iframe {
        height: 35vw;
        width: 90vw;
      }
      .closeBtn {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-100%);
        color: var(--hover-color-);
        font-size: 30px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .container {
    background-color: rgba(0, 0, 0, 0.85);

    .content {
      height: 50vw;
      width: 95vw;
      iframe {
        height: 50vw;
        width: 95vw;
      }
      .closeBtn {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-100%);
        color: var(--hover-color-);
        font-size: 30px;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .container {
    .content {
      height: 50vw;
      width: 95vw;
      iframe {
        height: 50vw;
        width: 95vw;
      }
      .closeBtn {
      }
    }
  }
}
