.career {
  max-width: 1440px;
  padding-bottom: 30px;
  .banner {
    width: 100%;
    display: flex;
    img {
      width: 100%;
      margin: auto;
    }
  }
  .newsBar {
    padding: 20px 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(228, 226, 226, 0.5);
    a {
      color: var(--primary-color-);
      font-size: 0.9rem;
      transition: all 0.5s ease;
    }
    .arrowIcon {
      color: var(--primary-color-);
      margin: 0 2px;
      font-size: 0.7rem;
      text-transform: capitalize;
    }
    a:hover {
      text-decoration: underline;
      color: var(--hover-color-);
    }
  }
  .container {
    margin-top: 30px;
    h2 {
      font-family: Open Sans;
      font-weight: 600 !important;
      color: var(--primary-color-);
      position: relative;
      margin-bottom: 30px;
      font-size: 25px;
      &::before {
        content: '';
        width: 120px;
        height: 4px;
        position: absolute;
        background-color: var(--hover-color-);
        bottom: -10px;
        left: 0;
      }
    }
    .gridItem {
      .wrapper {
        width: 100%;
        background-color: #fff;
        padding: 0px 0 10px;
        border: 1px solid var(--primary-color-);
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        &:hover {
          border-color: var(--hover-color-);
        }
        .image {
          width: 100%;
          display: flex;
          overflow: hidden;
          img {
            width: 100%;
            margin: auto;
            transition: all 0.25s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .titleBlock {
          display: flex;
          align-items: center;
          padding: 0 10px;
          margin-top: 4px;
          cursor: pointer;
          h2 {
            color: var(--primary-color-);
            font-size: 20px;
            transition: all 0.25s ease-in-out;
            margin: 0;
            text-transform: uppercase;
            font-weight: 500;
            font-family: Open Sans;

            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 25px;
            -webkit-line-clamp: 2;
            height: 50px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
          }
          &:hover {
            h2 {
              color: var(--hover-color-);
            }
          }
        }

        h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 25px;
          -webkit-line-clamp: 3;
          height: 75px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          padding: 0 10px;
          margin: 2px 0 10px;
          font-family: Open Sans;
          font-size: 13px;
        }
      }
    }
    .pagination {
      .paginationBlock {
        margin-top: 10px;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 960px) {
  .career {
    .container {
      h2 {
        font-size: 20px;

      }
      .gridItem {
        .wrapper {
          .titleBlock {
            h2 {
              font-size: 16px;
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
}
