.infor {
  padding: 12px;
  z-index: 1;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .name {
      font-family: 'Mulish M';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.2px;
      color: #000000;
      text-transform: lowercase;
      cursor: pointer;
      overflow: hidden;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    .atb {
      display: flex;
      flex-direction: row;
      color: #52525b;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      .atbValues {
        color: #000;
        margin-left: 20px;
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
        text-transform: lowercase;
        &::first-letter {
          text-transform: capitalize;
        }
      }
      .rating {
        margin-left: 15px;
      }
      .from {
        padding: 2px 5px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 128.91%;
        background-color: #000;
        display: flex;
        align-items: center;
        text-align: center;
        background: #71717a;
        border-radius: 5px;
        color: #ffffff;
        margin-left: 15px;
      }
      .trademark {
        padding: 2px 5px;
        margin-left: 15px;
        background: #e4e4e7;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 128.91%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #3f3f46;
      }
    }

    .price {
      margin: 5px 0;
      font-family: 'Quick Sand';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 128.91%;
      display: flex;
      align-items: center;
      color: #dc2626;
      justify-content: space-between;
      .prevPrice {
        color: #dc2626;
        margin-right: 10px;
        font-size: 14px;
      }
      p {
        margin: 0 0 0 5px;
        font-size: 12px;
      }
      a {
        cursor: pointer;
        .link {
          .linkIcon {
            color: #3b82f6;
            transition: all 0.25s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  .btnBuy {
    .boxButton {
      .button {
        width: 195px;
        height: 29px;
        border-radius: 5px;
        border: 1px solid var(--primary-color-);
        font-family: 'Quick Sand';
        font-weight: 600;
        font-size: 16px;
        background-color: white;
        overflow: hidden;
        z-index: 0;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 100%;
          background: var(--primary-color-);
          transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          z-index: -1;
        }
        .iconAdd {
          margin-right: 5px;
          color: var(--primary-color-);
          z-index: 0;
          margin-bottom: 3px;
        }
        .label {
          color: var(--primary-color-);
          z-index: 0;
        }
        &:hover {
          &::after {
            width: 100%;
            left: 0;
          }
          .iconAdd,
          .label {
            color: white;
          }
        }
      }
    }
    .qtyInput {
      border-radius: 5px;
      width: 195px;
      height: 29px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid var(--primary-color-);
      opacity: 0;
      position: absolute;
      bottom: 12px;
      transition: all 0.3s ease;
      transform: scale(0.9);
      div {
        border-radius: 0;
        input {
          border: none;
          width: 60px;
          height: 38.5px;
          padding: 0;
          text-align: center;
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
      .qtyPress {
        color: var(--primary-color-);
      }
    }
    .active {
      opacity: 1;
      z-index: 3;
      transform: scale(1);
    }
    .close {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  .infor {
    .btnBuy {
      .boxButton {
        .button {
          font-size: 14px;
          width: 100%;
        }
      }
      .qtyInput {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .infor {
    .btnBuy {
      .boxButton {
        .button {
          font-size: 12px;
          width: 100%;
        }
      }
      .qtyInput {
        left: 0;
        width: 100%;
      }
    }
  }
}
