.root {
  background-color: #fff;
  padding: 10px 0 30px;
  .prop {
    width: 100px;
  }
  .active {
    background-color: var(--primary-color-);
    color: white;
  }
  .selectModel {
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ebebed;
    .image {
      height: 400px;
      width: 250px;
    }
    .title {
      display: flex;
      justify-content: flex-start;
      margin-top: 34px;
      h6 {
        text-indent: 40px;
        font-size: 25px;
        color: black;
        font-family: 'Mulish M';
      }
      .hot {
        position: absolute;
        transform: translateY(-25%);
        z-index: 200;
      }
    }
    .price {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      h6 {
        color: gray;
        text-decoration: line-through;
        margin-right: 10px;
        font-size: 20px;
        font-weight: bold;
        span {
          font-size: 15px;
        }
      }
      h5 {
        color: #dc2626;
        font-weight: bold;
        margin-right: 20px;
        font-size: 40px;
        font-family: 'Quick Sand Bold';
      }
      .label {
        position: relative;
        p {
          position: absolute;
          bottom: 30%;
          left: 10px;
          font-size: 10px;
          color: white;
        }
      }
    }
    .colorsAndType {
      display: flex;
      align-items: center;
      margin: 10px 0;
      margin-bottom: 20px;
      .color {
        height: 40px;
        min-width: 40px;
        border: 1px solid #c4c4c4;
        margin-right: 10px;
        font-size: 12px;
        font-weight: bold;
        text-transform: none;
      }
    }
    .amount {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      .inputBox {
        margin-right: 40px;
        .input div {
          border-radius: 0;
          input {
            width: 60px;
            height: 38.5px;
            padding: 0;
            text-align: center;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
        button {
          border: 1px solid #c4c4c4;
          min-width: 40px;
          &:nth-child(1) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
          &:nth-last-child(1) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
    .actions {
      .addCart {
        background-color: #dcfcf4;
        border: 1px solid var(--primary-color-);
        margin-right: 20px;
        text-transform: none;
        color: var(--primary-color-);
        font-family: 'Mulish';
        font-weight: bold;
      }
      .buyNow {
        background-color: var(--primary-color-);
        color: white;
        text-transform: none;
        font-family: 'Mulish';
        font-weight: bold;
      }
    }
    .share {
      display: flex;
      align-items: center;
      padding: 20px 0;
      p {
        margin-right: 10px;
      }
      .icons {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a {
          display: flex;
          align-items: center;
          .iconLink {
            background-color: #00c58e;
            color: white;
            border-radius: 50%;
            padding: 5px;
            font-size: 25px;
          }
        }
      }
    }
  }
  .detail {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 0px;
    border: 1px solid #ebebed;
    h5 {
      font-family: 'Mulish M';
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 1280px) {
  .root {
    .selectModel {
      border: none;
      .image {
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .root {
    .selectModel {
      .title {
        h6 {
          text-indent: 40px;
          font-size: 20px;
        }
      }
      .price {
        // h6 {
        //   color: gray;
        //   text-decoration: line-through;
        //   margin-right: 10px;
        //   font-size: 20px;
        //   font-weight: bold;
        //   span {
        //     font-size: 15px;
        //   }
        // }
        h5 {
          color: #dc2626;
          font-weight: bold;
          margin-right: 20px;
          font-size: 30px;
          font-family: 'Quick Sand Bold';
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .root {
    margin-top: 200px;
  }
}

@media screen and (max-width: 450px) {
  .root {
    .prop {
      width: auto;
      margin-right: 10px;
    }
    .selectModel {
      .amount {
        .inputBox {
          margin-right: 10px;

          .input div {
            input {
              width: 30px;
              height: 30px;
            }
          }
          button {
            min-width: 25px;
            height: 30px;
          }
        }
        .description {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .root {
    .prop {
      font-size: 12px;
    }
    .selectModel {
      .colorsAndType {
        .color {
          height: 30px;
          min-width: 30px;
          font-size: 10px;
        }
      }
      .amount {
        .description {
          font-size: 10px;
        }
      }
      .actions {
        .addCart {
          padding: 2px;
          margin-right: 5px;
        }
        .buyNow {
          padding: 2px;
        }
      }
    }
  }
}
