.root {
  background-color: #fff;
  padding: 10px 0 30px;

  .detail {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 0px;
    border: 1px solid #ebebed;
    h5 {
      font-family: 'Mulish M';
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 600px) {
  .root {
    margin-top: 200px;
    padding-bottom: 20px;
    .detail {
      padding: 10px 30px;
      justify-content: flex-start;
      h5 {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .root {
    padding-bottom: 0px;

    .detail {
      padding: 10px 16px;
    }
  }
}
