.page6 {
  margin-bottom: 30px;
  width: 100%;
  h2 {
    padding: 2%;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color-);
    text-transform: uppercase;
    text-align: center;
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 80px;
      background: var(--border-color-);
      margin: 10px auto 25px;
    }
  }
  p{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: justify;
  }
}
@media screen and (max-width: 600px) {
  .page6 {
    p{
      width: 93%;
  }
  }
}

