.slider {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  .carousel {
    margin: 5px;
    padding: 1%;
    position: relative;
    .title {
      max-width: 60%;
      span {
        font-size: 14px;
      }
    }

    h5 {
      color: #b28b64;
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      &:after {
        content: '';
        display: block;
        height: 1px;
        width: 70px;
        background: #b28b64;
        margin: 20px 0 15px;
      }
    }
  }
  Button {
    background: var(--hover-color-) !important;
    width: 36px;
    height: 36px;
    margin: 0 -20px;
    z-index: 1;
    border-radius: 5px;
    &:hover {
      background: var(--primary-color-) !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .slider {
    padding: 0 13.125px;
    width: 93%;
  }
}
