.checks {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  h2 {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
    color: #000;
  }
  .FormControl {
    display: flex;
    flex-direction: column;
    .checked {
      padding: 5px 0;
      .label {
        cursor: pointer;
        font-size: 0.9rem;
        .inputCheck {
          width: 0.9rem;
          height: 0.9rem;
          margin-right: 0.625rem;
        }
      }
    }
  }
}
