.showAccount {
  position: absolute;
  // width: 340px;
  right: 0;
  top: 68px;
  transform: scale(0);
  transform-origin: 50% top;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  height: auto;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 50%);
  .dropUp {
    display: none;
  }

  .buttonClose {
    display: none;
  }
}
.showAccount.active {
  background-color: #ffffff;
  color: #000;
  opacity: 1;
  transform: scale(1);
  border-radius: 0.125rem;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  .dropUp {
    display: block;
    position: absolute;
    top: -18px;
    right: 140px;
    svg {
      height: 30px;
      width: 30px;
      color: #fff;
    }
  }
}
@media screen and (max-width: 900px) {
  .showAccount.active {
    .dropUp {
      right: 68px;
    }
  }
}
@media screen and (max-width: 600px) {
  .showAccount {
    position: fixed;
    right: 0;
    top: 115px;
    transform: scale(0);
    height: 100%;
    .buttonClose {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 20px;
    }
  }
  .showAccount.active {
    transition: all 0.3s ease-in-out;
    width: 100%;
    .dropUp {
      display: none;
    }
  }
}
