.boxOrder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e8f3f1;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  padding-right: 19px;
  height: 70px;
  h5 {
    color: var(--primary-color-);
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 22px;
  }
  .orderBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-right: 174px;
    padding: 15px 0 15px 40px;
    h6,
    .button {
      color: black;
      margin-right: 15px;
      font-size: 16px;
    }
    .button {
      padding: 10px 30px;
      text-transform: none;
      background-color: white;
      border-radius: 2px;
      font-family: 'Mulish M';
      font-style: normal;
    }
    .active {
      color: white;
      background-color: var(--primary-color-);
    }
  }
  .selectPage {
    display: flex;
    align-items: center;
    p {
      margin-right: 15px;
    }
    .button {
      background-color: white;
      border: 1px solid #c4c4c4;
      border-radius: 0;
      height: 32px;
      min-width: 32px;
    }
  }
}
