.wrapper {
  max-width: 100%;
  .boxOrder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e8f3f1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    padding-right: 19px;
    height: 70px;
    h5 {
      color: var(--primary-color-);
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      margin-left: 22px;
    }
    .orderBtn {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px;
      margin-right: 82px;
      padding: 15px 0 15px 40px;
      .orderMobile {
        display: none;
        font-size: 13px;
        font-family: 'Mulish M';
        border: 1px solid var(--primary-color-);
        border-radius: 5px;
        color: var(--primary-color-);
      }
      .typeOrder {
        .typeOrderMobile {
          display: none;
        }
      }
      h6,
      .button {
        color: black;
        margin-right: 15px;
        font-size: 16px;
      }
      .button {
        padding: 10px 30px;
        text-transform: none;
        background-color: white;
        border-radius: 2px;
        font-family: 'Mulish M';
        font-style: normal;
      }
      .active {
        color: white;
        background-color: var(--primary-color-);
      }
    }
    .selectPage {
      display: flex;
      align-items: center;
      p {
        margin-right: 15px;
      }
      .button {
        background-color: white;
        border: 1px solid #c4c4c4;
        border-radius: 0;
        height: 32px;
        min-width: 32px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    .boxOrder {
      .orderBtn {
        h6 {
          font-size: 14px;
        }
        .typeOrder {
          display: flex;
          .button {
            padding: 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    .boxOrder {
      .orderBtn {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    .boxOrder {
      h5 {
        font-size: 18px;
      }
      .orderBtn {
        margin-right: 10px;
        h6 {
          display: none;
        }
        .orderMobile {
          display: flex;
          align-items: center;
        }
        span {
          font-size: 12px;
        }
        .button {
          width: 100%;
          padding: 10px;
        }
        .typeOrder {
          z-index: 3;
          right: 20px;
          width: 25%;
          display: flex;
          border-radius: 2px;
          position: absolute;
          transform-origin: 0% 0%;
          flex-direction: column;
          background-color: #fff;
          transition: all 0.5s ease;
          transform: translateY(60%) scale(1, 0);
          box-shadow: 0px 1px 2px 1px var(--primary-color-);
          .typeOrderMobile {
            display: block;
            .button {
              width: 100%;
              padding: 10px;
            }
          }
        }
        .open {
          transform: translateY(60%) scale(1, 1);
        }
      }
    }
  }
}
