.page5 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  h2 {
    padding: 2%;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color-);
    text-transform: uppercase;
    text-align: center;
    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 80px;
      background: var(--hover-color-);
      margin: 10px auto 25px;
    }
  }
  .page5_about {
    width: 100%;
    margin: 0 auto;
    ul {
      padding: 0;
      li {
        margin-left: 5px;
        display: inline-block;
        margin-bottom: 20px;
        border-color: #d9d9d9;
        span.active_tabs {
          transition: all 0.3s ease-in-out;
          background: var(--hover-color-);
        }
        span {
          cursor: pointer;
          text-decoration: none;
          background: var(--primary-color-);
          color: #fff;
          padding: 5px 10px;
          font-weight: 400;
          &:hover {
            transition: all 0.3s ease-in-out;
            background: var(--hover-color-);
          }
        }
      }
      .Staff {
        width: 80%;
        margin: 0 auto;
        .media {
          display: flex;
          padding: 20px 25px;
          background: url('https://www.novaland.com.vn/Data/Sites/1/skins/default/images/brochure-bg.png');
          height: 100%;
          .avatar {
            width: 30%;
            img {
              width: 100%;
            }
          }
          .description {
            width: 70%;
            padding-left: 10px;
            h4 {
              font-size: 15px;
              color: var(--primary-color-);
              font-weight: 700;
              margin: 0 0 15px;
            }
            p {
              text-align: justify;
              font-size: 14px;
            }
            ul {
              li {
                color: #000;
                list-style: none;
                line-height: 20px;
                background: url('https://www.novaland.com.vn/Data/Sites/1/media/Default/bullet.png')
                  no-repeat 0 5px;
                padding-left: 20px;
                margin-bottom: 20px;
                text-align: justify;
              }
            }
          }
        }
      }
      .content {
        display: none;
      }
    }
  }
  .descimg {
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 960px) {
  .page5 {
    .page5_about {
      ul {
        .Staff {
          margin: 0 auto;
          width: 85%;
          .media {
            padding: 0;
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            .avatar {
              width: 30%;
              padding: 10px;
            }
            .description {
              width: 70%;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .page5 {
    .page5_about {
      ul {
        .Staff {
          width: 93%;
          .media {
            width: 100%;
            .avatar {
              padding: 10px;
              width: 40%;
            }
            .description {
              padding: 10px;
              width: 60%;
            }
          }
        }
      }
    }
  }
}
