.boxVideo {
  padding: 15px;
  background: rgb(243, 240, 240);
  margin-bottom: 20px;
  height: 100%;
  h5 {
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    width: fit-content;
    padding: 0 0 10px;
    margin-bottom: 10px;
    &::before {
      content: '';
      position: absolute;
      height: 3px;
      background: var(--hover-color-);
      border-radius: 5px;
      width: 100%;
      bottom: 5px;
    }
  }
  .thumbnail {
    cursor: pointer;
    width: 100%;
    height: 170px;
  }
  .linkVideo {
    cursor: pointer;
    position: relative;
    word-break: keep-all;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
    transition: all 0.5s ease;
    svg {
      transition: all 0.1s ease;
      position: absolute;
    }
    &:hover {
      color: var(--hover-color-);
      svg {
        margin-left: 5px;
      }
    }
  }
}
.modalVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 2000;
  .videoYoutube {
    width: 700px;
    height: 400px;
    background: black;
    margin: auto;
  }
}
