.root {
  margin-bottom: 20px;
  .container {
    max-width: 1200px;
    margin: auto;
  }
}

@media screen and (max-width: 1360px) {
  .root {
    .container {
    }
  }
}

@media screen and (max-width: 600px) {
  .root {
    margin-top: 200px;
    .container {
    }
  }
}
