.container {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 117px;
  .newsBar {
    padding: 20px 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(228, 226, 226, 0.5);
    a {
      color: var(--primary-color-);
      font-size: 0.9rem;
      transition: all 0.5s ease;
    }
    .arrowIcon {
      color: var(--primary-color-);
      margin: 0 2px;
      font-size: 0.7rem;
      text-transform: capitalize;
    }
    a:hover {
      text-decoration: underline;
      color: var(--hover-color-);
    }
  }
  .categoryNews {
    padding: 30px 0;
    .category {
      text-transform: uppercase;
      font-family: 'Opens Sans', sans-serif;
      font-weight: 600;
      font-size: 1.3rem;
      position: relative;
      width: fit-content;
      padding: 0 0 10px;
      margin-bottom: 20px;
      transition: all 0.5s ease;
      cursor: pointer;
      a {
        color: var(--primary-color-);
      }
      &::before {
        content: '';
        position: absolute;
        height: 3px;
        background: var(--hover-color-);
        border-radius: 5px;
        width: 100%;
        bottom: 5px;
      }
      &:hover {
        a {
          color: var(--hover-color-);
          transition: inherit;
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .rightBar {
      padding: 0 20px;
    }
  }
}

@media screen and(max-width: 1279px) {
  .container {
    .newsBar {
      padding: 10px 4%;
    }
    .categoryNews {
      .rightBar {
        padding: 0;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space-between;
      }
    }
  }
}

@media screen and(max-width: 959px) {
  .container {
    margin-top: 77px;
    .newsBar {
      padding: 10px 8%;
    }
    .categoryNews {
      .rightBar {
        padding: 0;
        display: block;
      }
    }
  }
}

@media screen and(max-width: 599px) {
  .container {
    margin-top: 63px;
    .newsBar {
      padding: 10px 4%;
    }
  }
}
