.infor {
  padding: 12px;
  z-index: -1;
  position: absolute;
  background-color: #fff;
  opacity: 0;
  top: 0;
  transition: all 0.25s ease-in-out;
  .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-bottom: 10px;
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    -webkit-line-clamp: 2;
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .atb {
    display: flex;
    flex-direction: row;
    color: #52525b;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    .rating {
      margin-left: 15px;
    }

    .qty {
      margin: 0 0 0 8px;
    }
  }
  .btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    .from {
      padding: 2px 5px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 128.91%;
      background-color: #000;
      display: flex;
      align-items: center;
      text-align: center;
      background: #71717a;
      border-radius: 5px;
      color: #ffffff;
      margin-left: 15px;
    }
    .trademark {
      padding: 2px 5px;
      margin-left: 15px;
      background: #e4e4e7;
      border-radius: 5px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 128.91%;
      /* identical to box height, or 15px */

      display: flex;
      align-items: center;
      text-align: center;

      color: #3f3f46;
    }
    .link {
      cursor: pointer;
      margin-left: 15px;
      align-items: center;
      display: flex;
      .linkIcon {
        color: #3b82f6;
        transition: all 0.25s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .inforItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
    padding: 2px 0;
    .text {
      font-size: 11px;
    }
    .value {

    }
  }
  .status {
    justify-content: space-between;
  }
  .price {
    margin: 5px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.91%;
    display: flex;
    align-items: center;
    color: #dc2626;
    justify-content: space-between;
    p {
      margin: 0 0 0 5px;
      font-size: 12px;
    }
    
  }
}
.active {
  opacity: 1;
  z-index: 2;
}
