@font-face {
  font-family: 'Mulish';
  src: local('Mulish'), url('../font/Mulish-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mulish M';
  src: local('Mulish M'), url('../font/Mulish-Medium_1.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish Bold';
  src: local('Mulish Bold'), url('../font/Mulish-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'),
    url('../font/helvetica-neue-regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue M';
  src: local('Helvetica Neue'),
    url('../font/helvetica-neue-medium.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: local('Helvetica Neue Bold'),
    url('../font/helvetica-neue-bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quick Sand';
  src: local('Quick Sand'), url('../font/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Quick Sand Bold';
  src: local('Quick Sand Bold'),
    url('../font/Quicksand-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  scroll-margin-top: 60px;
  margin: 0;
}

a {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
  font-family: 'Mulish';
  font-style: normal;
}
h1 {
  font-family: Roboto;
  font-size: 120px;
}

#category {
  font-family: Roboto;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Roboto;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

:root {
  --primary-color-: #108775;
  --hover-color-: rgb(255, 221, 0);
  --hover-rgba-: rgba(255, 222, 4, 0.7);
  --border-color-: rgba(105, 27, 27, 0.5);
  --background-primary-: #f4f4f5;
  --price-color-: #dc2626;
  --border-gray-: #c4c0c2;
}

@media screen and (max-width: 960px) {
  * {
    scroll-margin-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  * {
    scroll-margin-top: 90px;
  }
}

.MuiFormHelperText-marginDense {
  margin-top: -16px !important;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-);
  border-radius: 5px;
}

.MuiSnackbar-root {
  position: relative !important;
}

.MuiSnackbar-anchorOriginBottomCenter {
  bottom: 0 !important;
}

.MuiPaginationItem-page.Mui-selected {
  background-color: var(--primary-color-) !important;
}

.MuiPaginationItem-root {
  border-radius: 0 !important;
  background-color: #f4f4f5 !important;
}

.MuiPaginationItem-ellipsis {
  height: 32px !important;
  padding-top: 5px !important;
}

.page5edit_media__Wix_v .page5edit_avatar__uiA5D span span {
  padding: 66% 0px !important;
}

.styles_search__NzpYM .MuiInputBase-input {
  padding: 10px 0px 10px 32px;
}

.styles_search__1l6c9 .MuiInputBase-input {
  width: 100%;
  height: 100%;
  padding-right: 2.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  background: #fff;
  border: 0;
  box-shadow: inset 0 0.125rem 0 0 rgb(0 0 0 / 2%);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.styles_search__2RWOc .MuiInputBase-input {
  padding: 10px 50px 10px 10px;
}
.styles_search__2RWOc .MuiOutlinedInput-notchedOutline {
  display: none;
}
@media screen and (max-width: 600px) {
  .styles_search__2RWOc .MuiInputBase-input {
    padding: 10px 10px 10px 50px;
  }
}

.styles_formRegister__t4llm .MuiOutlinedInput-notchedOutline {
  display: none;
}
.styles_input__OX_C5 .MuiOutlinedInput-notchedOutline {
  display: none;
}

.styles_input__ufZ_s .MuiOutlinedInput-adornedStart {
  padding-left: 0px;
}

.styles_selectForm__n3mkv .MuiInputLabel-outlined {
  transform: translate(14px, 16px) scale(1);
}

.styles_form__5_bBQ .MuiFormControl-root {
  min-width: 100% !important;
  margin-bottom: 8px;
  margin-top: 6px;
}
.styles_form__5_bBQ .MuiOutlinedInput-input {
  padding: 14px;
}

.styles_form__5_bBQ .MuiInputBase-root {
  font-size: 14px;
}

.styles_rangeSlider__y_b91 .MuiSlider-rail {
  height: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.styles_rangeSlider__y_b91 .MuiSlider-track {
  height: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.styles_rangeSlider__y_b91 .MuiSlider-thumb {
  width: 21px;
  height: 21px;
  margin-top: -6px;
}
.styles_rangeSlider__y_b91 .MuiSlider-valueLabel {
  left: calc(-50% + 4px);
}
.MuiSlider-root {
  color: #108775 !important;
}

.MuiSlider-root .Mui-disabled {
  color: #bdbdbd !important;
}
.menu-wrapper--inner {
  white-space: normal;
}
.styles_sliderSlick__Jc2sc .menu-wrapper--inner {
  white-space: initial !important;
}
.styles_input__3y_02 .MuiOutlinedInput-adornedStart {
  padding-left: 0px;
}

/* cart */
.styles_listCart__Llxwt .MuiCheckbox-colorSecondary.Mui-checked {
  color: var(--primary-color-) !important;
}
.styles_product__063rb .MuiBox-root {
  flex: 0 0;
}
