@font-face {
  font-family: 'Minion Pro';
  src: url('../font/MinionPro-Bold.woff2') format('woff2'),
      url('../font/MinionPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Italic.woff2') format('woff2'),
      url('../font/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Regular.woff2') format('woff2'),
      url('../font/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


a {
  text-decoration: none;
}

h1 {
  font-family: Roboto;
  font-size: 120px;
}

#category {
  font-family: Roboto;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Roboto;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

:root {
  --primary-color- : rgb(29, 46, 100);
  --hover-color- : rgb(253, 198, 114);
  --hover-rgba- : rgba(253, 198, 114, 0.7);
  --border-color- : rgba(29, 46, 100, 0.5)
}

.slick-next:before {
  font-family: "FontAwesome" !important;
  content: "\f105" !important;
    opacity: 1 !important;
    line-height: 36px;
    font-size: 20px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 960px) {
  .slick-arrow{
    display: none !important;
  }
}