.footerLast {
    display: flex;
    flex-wrap: wrap;
    .footerLastContent{
        p {
            font-family: Open Sans;

        }

    }
    .footerLastIcon {
        display: flex;
        flex-direction: column;
        position: relative;
        .footerLastIconTop {
            position: absolute;
            right: 0;
            font-size: 24px;
            margin: 12px;

            .iconFb {
                margin: 6px;
                cursor: pointer;
                color: var(--hover-color-);
                transition: all 0.25s ease-in-out;
                &:hover {
                color: var(--primary-color-);

                }
            }
            .iconYt {
                margin: 6px;
                cursor: pointer;
                color: var(--hover-color-);
                transition: all 0.25s ease-in-out;

                &:hover {
                color: var(--primary-color-);

                }
            }
            .iconIns {
                margin: 6px;
                cursor: pointer;
                color: var(--hover-color-);
                transition: all 0.25s ease-in-out;

                &:hover {
                color: var(--primary-color-);

                }
            }
            .iconTiktok {
                margin: 6px;
                cursor: pointer;
                color: var(--hover-color-);
                transition: all 0.25s ease-in-out;
                &:hover {
                color: var(--primary-color-);

                }
            }
        }
        .footerLastIconBottom {
            position: absolute;
            cursor: pointer;
            right: 20px;
            top: 50px;
            width: 50%;

            img{
                width: 100%;
            }
        }
    }
}


