.footerLast {
  display: flex;
  flex-wrap: wrap;
  .footerLastContent {
    p {
      font-family: Open Sans;
    }
  }
  .footerLastIcon {
    display: flex;
    flex-direction: column;
    position: relative;
    .footerLastIconTop {
      font-size: 24px;
      margin: 12px;
      display: flex;
      justify-content: flex-end;
      .icon {
        margin: 6px;
        cursor: pointer;
        color: var(--hover-color-);
        transition: all 0.25s ease-in-out;
        &:hover {
          color: var(--primary-color-);
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .footerLast {
    display: flex;
    .footerLastContent {
      display: flex;
      flex-direction: column;
      p {
        margin: auto;
        text-align: center;
      }
    }
    .footerLastIcon {
      .footerLastIconTop {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .footerLast {
    .footerLastContent {
      p {
        font-size: 12px;
      }
    }
    .footerLastIcon {
      .footerLastIconTop {
        justify-content: center;
        .icon {
          font-size: 16px;
        }
      }
    }
  }
}
