.page4 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1440px;
  overflow: hidden;
  h2 {
    padding: 2%;
    font-weight: 700;
    color: var(--primary-color-);
    text-transform: uppercase;
    text-align: center;
    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 80px;
      background: var(--hover-color-);
      margin: 10px auto 25px;
    }
  }
  .banner {
    img {
      width: 100%;
    }
  }
}
