.none {
  display: none;
}
.wrapper {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid #71717a;
  .container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    .copyRight {
      margin: auto;
      max-width: 488px;
      height: 96px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        color: #71717a;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    .container {
      .copyRight {
        height: 50px;
        p {
          font-size: 12px;
        }
      }
    }
  }
}
