.wrapper {
  height: 491px;
  background-color: rgba(0, 0, 0, 0);
  .container {
    max-width: 1920px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    .copyRight {
      margin: auto;
      width: 488px;
      height: 96px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        color: #71717a;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}
