.newInfor {
  background-color: var(--primary-color-);
  width: 100%;
  padding: 30px 0;
  display: flex;
  overflow: hidden;
  .container {
    margin: auto;
    max-width: 1440px;
    width: 1440px;
    .newsTitle {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      h1 {
        color: #fff;
        font-size: 30px;
        font-family: Open Sans;
        font-weight: 600;
      }
      .newsLine {
        width: 100px;
        height: 4px;
        background-color: var(--hover-color-);
      }
    }
    .newsContent {
      width: 100%;
      margin-top: 20px;
      .newsList {
        padding: 20px;
        .wrapper {
          background-color: #fff;
          border-radius: 5px;
          overflow: hidden;
          opacity: 0;
          transform: translateY(300px);
          margin: 10px;
          // transition: all  0.7s ease-in-out;
          .image {
            // display: flex;
            img {
              transition: all 0.25s ease-in-out;
              margin: auto;
              cursor: pointer;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
          h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 30px;
            -webkit-line-clamp: 3;
            height: 60px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-transform: uppercase;
            padding: 0 10px;
            margin-top: 20px;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 18px;
            color: var(--primary-color-);
            cursor: pointer;
            .rightIcon {
              transition: all 0.25s ease-in-out;
            }
            &:hover {
              color: var(--hover-color-);
              transition: all 0.25s ease-in-out;
              .rightIcon {
                transform: translateX(8px);
              }
            }
          }
          p {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 28px;
            -webkit-line-clamp: 3;
            height: 84px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            padding: 0 10px;
            margin-top: 20px;
            font-family: Open Sans;
            font-weight: 500;
            font-size: 14px;
          }
        }
        .wrapper.active {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .btnWrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      transform: translateY(300px);
      transition: all 2s ease-in-out;
      opacity: 0;
      button {
        border: 2px solid #fff;
        padding: 10px 20px;
        background-color: var(--primary-color-);
        border-radius: 50px;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        font-family: Open Sans;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
      margin-right: 20px;

        div {
          border: 1px solid #fff;
          width: 20px;
          height: 20px;
          display: flex;
          border-radius: 50%;
          margin-left: 10px;
          .rightIcon {
            margin: auto;
            font-size: 10px;
          }
        }
        &:hover {
          background-color: #fff;
          color: var(--primary-color-);
          div {
            border-color: var(--primary-color-);
          }
        }
      }
    }
    .btnWrapper.active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (max-width: 960px) {
  .newInfor {
    .newsTitle {
      margin-left: 20px;
      h1 {
        font-size: 25px;
      }
    }
    .container {
      .newsTitle {
        h1 {
        }
        .newsLine {
        }
      }

      .newsContent {
        width: 100%;
        margin-top: 20px;
        .newsList {
          .wrapper {
            // margin: 0 10px;
            h3 {
              font-size: 20px;
              margin: 5px 0;

            }
            p {
              font-size: 20px;
              margin: 5px 0;
            }
          }
        }
      }
      .btnWrapper {
        
        button {
          font-size: 14px;
          padding: 5px 10px;
          margin-right: 10px;
          div {
            
            .rightIcon {
             
            }
          }
          
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .newInfor {
    
    .container {
      

      .newsContent {
        width: 100%;
        margin-top: 20px;
        .newsList {
          padding: 5px;
          .wrapper {
            h3 {
              font-size: 16px;
              margin: 5px 0;

            }
            p {
              font-size: 14px;
              margin: 5px 0;
            }
          }
        }
      }
      
    }
  }
}
