.wrapper {
  max-width: 1450px;
  .containerProducts {
  }
  .card {
    padding: 0 5px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    .card {
      padding: 0 10px;
    }
  }
}
