.wrapper {
  max-width: 1450px;
  .boxOrder {
    display: flex;
    max-height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #edebe9;
    margin-bottom: 20px;
    padding-right: 19px;
    .orderBtn {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      padding: 15px 0 15px 40px;
      h6,
      .button {
        color: black;
        margin-right: 15px;
        font-size: 16px;
      }

      .button {
        padding: 10px 30px;
        font-family: 'Mulish M';
        text-transform: none;
        background-color: white;
        border-radius: 2px;
      }
      .active {
        color: white;
        background-color: var(--primary-color-);
      }
    }
    .selectPage {
      display: flex;
      align-items: center;
      p {
        margin-right: 15px;
      }
      .button {
        background-color: white;
        border: 1px solid #c4c4c4;
        border-radius: 0;
        height: 32px;
        min-width: 32px;
      }
    }
    .mobileFilter {
      display: none;
    }
    .mobileBtn {
      background-color: white;
      border: 1px solid var(--primary-color-);
      color: var(--primary-color-);
      font-size: 13px;
    }
  }
  .filterBoxMobile {
    position: absolute;
    transform-origin: 0;
  }
  .card {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1400px) {
  .wrapper {
    .boxOrder {
      .orderBtn {
        .button {
          padding: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    .boxOrder {
      padding-right: 0;
      background-color: transparent;
      .orderBtn,
      .selectPage {
        display: none;
      }
      .mobileFilter {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }
    }
    .card {
      padding: 0 2px;
    }
  }
}

@media screen and(max-width: 960px) {
  .wrapper {
    .card {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
