.wrapper {
  z-index: 3;
  height: auto;
  width: 30vw;
  left: 61%;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  transform-origin: 0% -5%;
  background-color: white;
  transition: all 0.3s ease-in;
  box-shadow: 0px 2px 5px 0.5px var(--primary-color-);
  transform: scale(1, 0) translateY(-5%);
  .item {
    font-family: 'Mulish M';
    font-size: 14px;
  }
}
.active {
  transform: scale(1, 1) translateY(-5%);
}
