.hai {
  max-width: 1140px;
  margin: 0 auto;
  .more {
    margin: 5px;
    padding: 1%;
    text-align: justify;
    h3 {
      padding: 2%;
      font-weight: 700;
      font-size: 1.7rem;
      line-height: 1.3;
      color: var(--primary-color-);
      text-transform: uppercase;
      text-align: center;
      &::after {
        content: '';
        display: block;
        height: 3px;
        width: 80px;
        background: var(--hover-color-);
        margin: 10px auto 25px;
      }
    }
    Button {
      background: var(--hover-color-) !important;
      width: 36px;
      height: 36px;
      margin: 0 -20px;
      z-index: 1;
      border-radius: 5px;
      &:hover {
        background: var(--primary-color-) !important;
      }
    }
  }
}
.mrb8 {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  .slider {
    margin: 5px;
    padding: 1%;
    z-index: 999;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: absolute;
    text-align: justify;
    h3 {
      padding: 2%;
      font-weight: 700;
      font-size: 1.7rem;
      line-height: 1.3;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      &::after {
        content: '';
        display: block;
        height: 3px;
        width: 80px;
        background: var(--hover-color-);
        margin: 10px auto 25px;
      }
    }
    .slickactive {
      width: 80%;
      margin: 0 auto;
    }
    Button {
      background: var(--hover-color-) !important;
      width: 36px;
      height: 36px;
      margin: 0 -20px;
      z-index: 1;
      border-radius: 5px;
      &:hover {
        background: var(--primary-color-) !important;
      }
    }
  }
  .section {
    background: rgba(0, 85, 138);
    .image {
      opacity: 0.5;
      position: relative;
      min-height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
@media screen and (max-width: 960px) {
}
