.contact {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 117px;
  .newsBar {
    padding: 20px 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(228, 226, 226, 0.5);
    margin-bottom: 20px;
    a {
      color: var(--primary-color-);
      font-size: 0.9rem;
      transition: all 0.5s ease;
    }
    .arrowIcon {
      color: var(--primary-color-);
      margin: 0 2px;
      font-size: 0.7rem;
      text-transform: capitalize;
    }
    a:hover {
      text-decoration: underline;
      color: var(--hover-color-);
    }
  }
  .Main {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 960px) {
  .contact {
    margin-top: 75px;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    margin-top: 60px;
    .menuContact {
      position: relative;
      padding: 15px;
      background: rgba(241, 241, 241, 0.85);
      z-index: 999;
      margin-bottom: 40px;
    }
    .Main {
      width: 100%;
    }
  }
}
