.contact {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 150px;
  .title_page {
    margin: 0 auto;
    width: 90%;
    padding: 0 13.125px;
    h5 {
      margin-top: 75px;
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--primary-color-);
      font-family: 'Opens sans', sans-serif;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      clear: both;
      width: 84px;
      &::after {
        content: '';
        display: block;
        height: 3px;
        margin: 5px 0 30px;
        width: 84px;
        background: var(--hover-color-);
      }
      &:hover {
        color: var(--hover-color-);
        cursor: pointer;
      }
    }
  }
  .Main {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 960px) {
  .contact {
    margin-top: 75px;
    .title_page {
      padding: 0;
    }
  }
}
@media screen and (max-width: 600px) {
  .contact {
    margin-top: 60px;
    .menuContact {
      position: relative;
      padding: 15px;
      background: rgba(241, 241, 241, 0.85);
      z-index: 999;
      margin-bottom: 40px;
    }
    .Main {
      width: 100%;
    }
  }
}
