@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.container {
  padding: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary-color-);
  .content {
    padding: 0px 5px 20px;
    .time {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
    }
    h5 {
      color: var(--primary-color-);
      font-weight: 600;
      font-size: 1rem;
      text-align: justify;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        color: var(--hover-color-);
      }
    }
    .divider {
      background: #d5d5d5;
      height: 0.2px;
    }
    p {
      margin: 15px 0 5px;
      color: #666666;
      text-align: justify;
    }
  }
}
