.form {
  display: flex;
  flex-direction: column;
  position: relative;
  .progress {
    margin: auto;
  }
  h6 {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color-);
  }
  .alert {
    position: relative !important ;
  }
  .button {
    background: var(--primary-color-);
    color: white;
    margin-top: 5px;
    position: relative;
    height: 40px;
    overflow: hidden;
    display: flex;
    &:hover {
      background: var(--hover-color-);
      .textButton {
        // top: -20px;
        // color: var(--primary-color-);
      }
      .icon {
        bottom: 10px;
      }
    }
    .textButton {
      display: block;
      margin: auto;
      color: #fff;
      transition: all 0.25s ease;
      font-weight: 600;
    }
    // .icon {
    //   position: absolute;
    //   transform: rotate(-45deg);
    //   bottom: -30px;
    //   transition: all 0.25s ease;
    // }
  }
  .captCha {
    margin-top: 10px;
    
    overflow: hidden;
    height: 0;
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    justify-content: flex-end !important;
  }
  .captCha.active {
    height: 80px;
  }
}
