.container {
  margin-bottom: 20px;
  transition: all 0.5s;
  border: 1px solid var(--primary-color-);
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
  &:hover {
    border: 1px solid var(--hover-color-);
  }
  .image {
    img {
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .content {
    padding: 10px 5px 20px;
    h5 {
      overflow: hidden;
      height: 60px;
      color: var(--primary-color-);
      font-weight: 600;
      font-size: 0.9rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        color: var(--hover-color-);
      }
    }
    .description {
      height: 40px;
      margin-bottom: 20px;

      color: var(--text-color-);
      text-align: justify;
    }
  }
}
@media screen and(max-width: 960px) {
  .container {
    img {
      width: 100%;
      height: 100%;
    }
    .content {
      padding: 0 5px;
      h5 {
        font-size: 0.9rem;
        margin-top: 5px;
      }
      p {
        font-size: 0.8rem;
        text-align: justify;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .container {
    img {
      width: 100%;
      height: 100%;
    }
    .content {
      h5 {
        font-size: 0.9rem;
        height: 60px;
        margin-top: 10px;
      }
      p {
        font-size: 0.8rem;
        text-align: justify;
      }
    }
  }
}

@media screen and(max-width: 600px) {
  .container {
    img {
      width: 100%;
      height: 100%;
    }
    .content {
      padding-top: 10px;
      h5 {
        font-size: 0.8rem;
        height: 50px;
        margin-top: 10px;
      }
    }
  }
}
