.page {
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 30px;
  max-width: 1440px;
  overflow: hidden;
  h2 {
    padding: 2%;
    font-weight: 700;
    color: var(--primary-color-);
    text-transform: uppercase;
    text-align: center;
    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 80px;
      background: var(--hover-color-);
      margin: 10px auto 25px;
    }
  }
  .MainIntroduction {
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: space-between;
    .CompanyProfile {
      width: 49%;
      h3 {
        text-align: justify;
        strong {
          color: var(--primary-color-);
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
    .ImgCompany {
      width: 49%;
    }
  }
}
@media screen and (max-width: 960px) {
  .page {
    margin-top: 110px;
    .MainIntroduction {
      padding: 0 13.125px;
    }
  }
  .page2 {
    .page2_about {
      padding: 0 13.125px;
    }
  }
}
@media screen and (max-width: 600px) {
  .page {
    margin-top: 110px;
    .MainIntroduction {
      padding: 0 13.125px;
      display: block;
      width: 93%;
      .CompanyProfile {
        width: 100%;
        p {
          text-align: justify;
          strong {
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
      .ImgCompany {
        display: block;
        width: 100%;
      }
    }
  }
  .page2 {
    .page2_about {
      padding: 0 13.125px;
    }
  }
}
