.checks {
  margin: 0 auto;
  .funnel {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
    .icons {
      svg {
        margin-right: 0.5rem;
        color: rgba(0, 0, 0, 0.8);
        stroke: currentColor;
      }
    }
    .title {
      text-transform: uppercase;
      font-family: 'Quick Sand Bold';
      font-style: normal;
      font-size: 24px;
      color: #000000;
    }
  }
}

@media screen and (max-width: 1440px) {
  .checks {
    .funnel {
      .title {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .checks {
    .funnel {
      .title {
        font-size: 14px;
      }
    }
  }
}
