.root {
  margin-bottom: 50px;
  min-height: 600px;
  .wrapper {
    max-width: 1200px;
    margin: auto;
    .title {
      display: flex;
      justify-content: center;
      h6 {
        position: relative;
        font-family: 'Mulish Bold';
        color: var(--primary-color-);
        &::after {
          content: '';
          position: absolute;
          height: 3px;
          width: 50%;
          background-color: var(--primary-color-);
          transform: translate(50%, 100%);
          bottom: -10px;
          left: 0;
        }
      }
    }
    .account {
      margin-top: 80px;
      .tabAccount {
        padding-left: 25px;
        h6 {
          color: var(--primary-color-);
          font-family: 'Mulish M';
          font-size: 20px;
          margin-bottom: 10px;
        }
        .iconMenu {
          display: none;
          color: var(--primary-color-);
        }
        .tabBtn {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .btn {
            cursor: pointer;
            text-transform: none;
            font-family: 'Mulish';
            font-size: 13px;
            padding: 0;
            &:hover {
              color: var(--primary-color-);
            }
          }
        }
      }
      .infor {
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .root {
    .wrapper {
      .account {
        margin-top: 40px;
        .tabAccount {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .root {
    margin-top: 200px;
    .wrapper {
      .account {
        .tabAccount {
          position: relative;
          h6 {
            font-size: 16px;
            display: flex;
          }
          .iconMenu {
            display: block;
            margin-right: 5px;
          }
          .tabBtn {
            position: sticky;
            width: 50%;
            height: 0px;
            transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transform: translateX(-100%);
            opacity: 0;
          }
          .active {
            transform: translateX(0%);
            height: 80px;
            opacity: 1;
          }
        }
      }
    }
  }
}
