.page3 {
  width: 100%;
  margin-bottom: 30px;
  h2 {
    margin: 0;
    padding: 2%;
    font-weight: 700;
    color: var(--primary-color-);
    text-transform: uppercase;
    text-align: center;
    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 80px;
      background: var(--hover-color-);
      margin: 10px auto 25px;
    }
  }
  .page3_about {
    h3 {
      text-align: center;
      font-weight: bold;
      color: var(--primary-color-);
      margin-bottom: 40px;
    }
  }
  .slider {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1440px;
    overflow: hidden;
    p {
      border-bottom: 1px solid gray;
      padding-bottom: 40px;
      margin: 0;
    }
    .partner {
      padding: 20px 0 30px;
      border-bottom: 1px solid gray;

      span {
        margin-bottom: 40px;
        line-height: 1.8;
        font-weight: bold;
      }
      .modules {
        .media {
          margin: 5px;
          padding: 2%;
          .module {
            margin-right: 45px;
            height: 70px;
            img {
              display: block;
              width: 100%;
              cursor: pointer;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
      Button {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .slider {
    p {
    }
    .partner {
      span {
      }
      .modules {
        .media {
          padding: 2%;
          .module {
            margin: 0;
            height: 70px;
            img {
              display: block;
              width: 100%;
              cursor: pointer;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
      Button {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .page3_about {
    width: 93%;
    margin: 0 auto;
    padding: 0 13.125px;
  }
  .banner {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
