.page3 {
  margin: 0 auto;
  width: 100%;
  // margin-bottom: 10px;
  max-width: 1140px;
  h2 {
    margin: 0;
    padding: 2%;
    font-weight: 700;
    color: var(--primary-color-);
    text-transform: uppercase;
    text-align: center;
    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 80px;
      background: var(--hover-color-);
      margin: 10px auto 25px;
    }
  }
  .page3_about {
    h3 {
      text-align: center;
      font-weight: bold;
      color: var(--primary-color-);
      margin-bottom: 40px;
    }
  }
  .slider {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1440px;
    overflow: hidden;
    p {
      padding-bottom: 40px;
      margin: 0;
    }
    .partner {
      border-bottom: 1px solid #333;
      span {
        margin-bottom: 40px;
        line-height: 1.8;
        font-weight: bold;
      }
      .modules {
        .media {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;
          padding: 2%;
          .module {
            margin-right: 45px;
            height: 70px;
            position: relative;
            .partnerName {
              padding: 4px;
              color: #fff;
              text-align: justify;
              position: absolute;
              top: 0px;
              left: 0;
              background-color: rgba(0, 0, 0, 0.5);
              transition: all 1s ease-in-out 0s;
              opacity: 0;
              overflow: hidden;
              span {
                position: absolute;
                background-color: var(--primary-color-);
                transition: all 1s ease-in-out 0s;
              }
              span:nth-child(1) {
                width: 100%;
                height: 3px;
                top: 0;
                right: 100%;
              }
              span:nth-child(2) {
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 100%;
                margin: 0;
              }
              span:nth-child(3) {
                width: 3px;
                height: 100%;
                bottom: -100%;
                left: 0;
                margin: 0;
              }
              span:nth-child(4) {
                width: 3px;
                height: 100%;
                top: -100%;
                right: 0;
                margin: 0;
              }
            }
            img {
              display: block;
              width: 100%;
              cursor: pointer;
              height: 100%;
              object-fit: contain !important;
            }
            &:hover {
              .partnerName {
                span:nth-child(1) {
                  right: 0;
                }
                span:nth-child(2) {
                  left: 0;
                }
                span:nth-child(3) {
                  bottom: 0;
                }
                span:nth-child(4) {
                  top: 0;
                }
                opacity: 1;
              }
            }
          }
        }
      }
      Button {
        background-color: black;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .page3 {
    padding: 0 13.125px;
    .slider {
      .partner {
        .modules {
          .media {
            padding: 2%;
            .module {
              margin: 0;
              height: 70px;
              .partnerName {
                padding: 4px;
                color: #fff;
                text-align: justify;
                position: absolute;
                top: 0px;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                transition: unset;
                opacity: 0;
                overflow: hidden;
                span {
                  transition: unset;
                }
              }
              img {
                display: block;
                width: 100%;
                cursor: pointer;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
        Button {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .page3_about {
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
