.root {
  display: flex;
  border-radius: 2px;
  background-color: white;
  .toggle {
    font-family: 'Mulish M';
    font-style: normal;
    font-size: 16px;
    padding: 10px;
    width: 246px;
    text-transform: none;
    display: flex;
    justify-content: space-between;
  }
}
