.wrapper {
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
  padding: 10px 30px;
  h6 {
    font-family: 'Mulish M';
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    h6 {
      font-size: 18px;
    }
  }
}
