.all {
  .footerTop {
    background: url(../../../public/bgFooter/bg2.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom right;
    padding: 20px;
    background-origin: center;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .footerNovalandItem {
      padding: 0 4px;
      display: flex;
      flex-direction: column;
      margin-top: 15px;

      h2 {
        font-size: 18px;
        font-weight: 600 !important;
        font-family: Open Sans;
        color: var(--primary-color-);
      }
      a {
        color: var(--bs-gray-700);
        text-decoration: none;
        font-size: 13px;
        padding-top: 6px;
        font-family: Open Sans;
        &:hover {
          cursor: pointer;
          color: var(--hover-color-);
        }
      }
      p {
        font-size: 12px;
        margin: 12px 0;
        padding: 0;
        font-family: Open Sans;
      }
    }
  }
}
@media (max-width: 960px) {
  .all {
    .footerTop {
      .footerNovalandItem {
        margin-top: 15px;

        h2 {
          margin-bottom: 10px;
        }
        a {
          font-size: 14px;
        }
      }
    }
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 600px) {
  .all {
    .footerTop {
      display: none;
    }
    p {
      font-size: 12px;
    }
  }
}
